:host {
  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  --red-to-pink-to-purple-vertical-gradient: linear-gradient(
    180deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --pill-accent: var(--bright-blue);

  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.125rem;
  color: var(--gray-900);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

p {
  margin: 0;
  color: var(--gray-700);
}

main {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-width: 700px;
  margin-bottom: 3rem;

  h1 {
    margin-top: 1.75rem;
  }

  p {
    margin-top: 1.5rem;
  }
}

.title-head {
  margin-bottom: 2.5rem;
  text-align: center;
}

.divider {
  height: 2px;
  background: var(--red-to-pink-to-purple-horizontal-gradient);
  margin-inline: 0.5rem;
}
.fields {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1.5rem;

  input {
    height: 1.5rem;
    width: 50%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid;
    border-color: rgba($color: red, $alpha: 0.5);
  }
  button {
    background-color: transparent;
    border: 1px solid;
    width: 20%;
    border-color: rgba($color: red, $alpha: 0.5);
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    box-shadow: none;
    transition: all 150ms ease-in-out;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }
}
.short-url {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-size: 1rem;
  gap: 0.5rem;
  flex-wrap: wrap;

  span {
    cursor: pointer;
    word-break: break-all;
    &:hover {
      background-image: linear-gradient(
        red,
        rgb(221, 109, 199),
        rgb(111, 11, 111)
      );
      color: transparent;
      background-clip: text;
    }
  }
}

@media screen and (max-width: 650px) {
  .content {
    flex-direction: column;
  }

  .divider {
    height: 1px;
    width: 100%;
    background: var(--red-to-pink-to-purple-horizontal-gradient);
    margin-block: 1.5rem;
  }

  .fields {
    flex-direction: column;

    input {
      width: auto;
    }
    button {
      width: auto;
    }
  }
  .short-url {
    margin-top: 2rem;
  }
}
